<section id="contact" class="section">  <!-- Modificado aquí, asegurado que el id sea "contact" -->
  <div class="container">
    <h2 class="section-title">Contacto</h2>
    <div class="contact-content">
      <p class="contact-description">
        Si deseas ponerte en contacto conmigo, no dudes en hacerlo a través de los siguientes canales. Estoy abierto a oportunidades de colaboración, consultas y cualquier otra pregunta que puedas tener.
      </p>
      <p class="contact-description">
        Puedes contactarme directamente a través de mi correo electrónico: <a href="mailto:plmax3543@gmail.com"></a> o llamarme al +51 997892687. También estoy disponible en las siguientes redes sociales:
      </p>
      <ul class="contact-list">
        <li class="contact-item">
          <a href="https://pe.linkedin.com/in/plinior-zavala" target="_blank" rel="noopener noreferrer" class="contact-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li class="contact-item">
          <a href="https://github.com/PLINIORZAVALA" target="_blank" rel="noopener noreferrer" class="contact-link">
            <i class="fab fa-github"></i>
          </a>
        </li>
        <li class="contact-item">
          <a href="https://twitter.com/johndoe" target="_blank" rel="noopener noreferrer" class="contact-link">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="contact-item">
          <a href="https://www.instagram.com/pliniorzavala/g" target="_blank" rel="noopener noreferrer" class="contact-link">
            <i class="fab fa-instagram"></i>
          </a>
        </li>        
        <li class="contact-item">
          <a href="https://www.facebook.com/max.zavalq.1/?locale=es_LA" target="_blank" rel="noopener noreferrer" class="contact-link">
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li class="contact-item">
          <a href="mailto:plmax3543@gmail.com" target="_blank" rel="noopener noreferrer" class="contact-link">
            <i class="fas fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
