<section id="about" class="section">
  <div class="container">
    <h2 class="section-title">Sobre mí</h2>
    <div class="about-content">
      <div class="about-text">
        <p>Soy <strong>Max Plinior Zavala Ayvar</strong>, con experiencia en la gestión y análisis de grandes volúmenes de información. Mi experiencia incluye el manejo de sistemas de bases de datos complejas, el desarrollo de modelos predictivos y la creación de informes detallados para la toma de decisiones estratégicas. Mi enfoque en la optimización de procesos y la mejora continua me ha permitido contribuir significativamente a los proyectos en los que he trabajado.</p>
        <p>Me apasiona la tecnología y estoy constantemente aprendiendo nuevas herramientas y técnicas para estar al tanto de las últimas tendencias en el campo de la ciencia de datos. Mi objetivo es aplicar mi conocimiento y habilidades para resolver problemas desafiantes y generar soluciones innovadoras.</p>
    </div>
    
    </div>
  </div>
</section>
